.doctor-management {
  width: 90%;
  margin: 80px auto 20px;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}

.add-doctor-btn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-doctor-btn:hover {
  background-color: #218838;
}